@import 'normalize.css';

:root {
  // color
  --primary: #f15d30;

  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  // header height (line: 2 - at: src/component/Layout/component/Header/Header.module.scss)
  --default-layout-header-height: 60px;

  /* container width 
     - line: 8 , at: src/component/Layout/DefaultLayout/DefaultLayout.module.scss
     - line: 11 , at: src/component/Layout/component/Header/Header.module.scss
  */
  --default-layout-width: 1140px;
}

//* reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//* init font-size
html {
  font-size: 62.5%;
}

//*
body {
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
}

// Font embedded
@font-face {
  font-family: Poppins;
  src: url('../../assets/fonts/Poppins-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: Poppins;
  src: url('../../assets/fonts/Poppins-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url('../../assets/fonts/Poppins-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Poppins;
  src: url('../../assets/fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: Poppins;
  src: url('../../assets/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Poppins;
  src: url('../../assets/fonts/Poppins-ExtraBold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: Poppins;
  src: url('../../assets/fonts/Poppins-Black.ttf');
  font-weight: 900;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

// Custom tippy tooltips
body {
  .tippy-box {
    // font-size: 1.6rem;
    border-radius: 8px;
    font-weight: 600;
    line-height: 2.2rem;
    background-color: #545454;
  }

  .tippy-arrow {
    color: #545454;
  }
}

// scrollbar css
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
