.col-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 250px;
  color: var(--white);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 8px;
    margin-top: 0;
    text-transform: uppercase;
  }
  p {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    line-height: 28.8px;
    margin-bottom: 16px;
    margin-top: 0;
  }
}
/* Mobile:  ip 6+,7+,8+*/
@media (min-width: 414px) and(max-width: 736px) {
}

/* Mobile:  ip x,11,12*/
@media (min-width: 375px) and (max-width: 812px) {
}

@media (min-width: 600px) and (max-width: 800px) {
}

/* i-pad mini: */
@media (min-width: 739px) and (max-width: 1023px) {
}

/* PC, i-pad pro: */
@media (min-width: 1023px) {
  .col-item {
    h2 {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 36px;
    }
  }
}
