.col-item {
  position: relative;
  width: 100%;
  background-color: var(--primary);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 0;
  padding: 30px;
  margin-bottom: 30px;
  transition: all 0.3s ease;
}
.iconBox {
  position: relative;
  width: 115px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f15d30;
  margin-left: -35px;
  margin-bottom: 10px;
}
.iconBox:after {
  position: absolute;
  content: '';
  top: -5px;
  left: 0;
  border-style: solid;
  border-width: 0 0 5px 5px;
  border-color: transparent transparent #c7390d transparent;
}

.icon {
  color: var(--white);
  display: block;
  font-size: 50px;
  line-height: 65px;
}

h3 {
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin-bottom: 16px;
}

p {
  color: rgba(255, 255, 255, 0.8);
  line-height: 28.8px;
  margin-bottom: 16px;
}
.col-item:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0.5;
  z-index: -1;
}
.color-1:after {
  background-color: #1089ff;
}
.color-2:after {
  background-color: #048998;
}
.color-3:after {
  background-color: #ff5959;
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
  .col-item {
    padding: 10px;
    margin-bottom: 30px;
  }
  .iconBox {
    margin-left: -20px;
  }
}

/* PC: */
@media (min-width: 1200px) {
}
