.wrapper {
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: var(--white);
}

.container {
  display: flex;
  align-items: center;
  max-width: 1140px;
  margin: auto;

  padding: 0 16px;
  min-height: 70px;
}

.brand {
  display: flex;
  flex-direction: column;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 28.8px;
  color: var(--black);
  margin-right: 16px;
  outline: none;
  padding: 24px 0;
  white-space: nowrap;

  transition: all 0.3s ease 0s;
}
.brand span {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 12px;
  color: var(--primary);

  text-transform: uppercase;
  white-space: nowrap;
}

.nav-menu {
  color: var(--gray);
  position: absolute;
  right: 16px;
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.align-center {
  align-items: center;
}

.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  color: var(--black);
  background-color: var(--white) !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  & .container {
    height: 90px !important;
  }
  & .brand {
    color: black;
  }
  & .nav.menu {
    background-color: white !important;
  }
}

::-webkit-scrollbar {
  display: none;
}
/* Media query */
@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    background-color: transparent;
    transition: all 0.3s ease-out 0s;
    color: var(--white);
  }
  .container {
    display: flex;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    background-color: transparent;
    padding: 0 12px;
    height: 105px;
  }
  .brand {
    color: var(--white);
  }
  .nav-menu {
    display: none;
  }
  .scrolled {
    color: var(--black);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .wrapper {
    background-color: transparent;
    transition: all 0.3s ease-out 0s;
    color: var(--white);
  }
  .container {
    display: flex;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    background-color: transparent;
    padding: 0 12px;
    height: 105px;
  }
  .brand {
    color: var(--white);
  }
  .nav-menu {
    display: none;
  }
  .scrolled {
    color: var(--black);
  }
}

/* PC: */
@media (min-width: 1200px) {
  .wrapper {
    background-color: transparent;
    transition: all 0.3s ease-out 0s;
    color: var(--white);
  }
  .container {
    display: flex;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    background-color: transparent;
    padding: 0 12px;
    height: 105px;
  }
  .brand {
    color: var(--white);
  }
  .nav-menu {
    display: none;
  }
  .scrolled {
    color: var(--black);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}
