.slide-area {
  position: relative;
  width: 100vw;
  min-height: 670px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.single-blog-image {
  min-height: 400px !important;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: unset;
}
.container {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -90%);
  padding: 0 16px;
  align-items: center;
}

.breadcrumbs {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 0px;
  outline: none;
  text-align: center;
  z-index: 99;
  & a {
    text-transform: capitalize;
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
    line-height: 24px;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease 0s;
  }
  & a:hover {
    color: var(--primary);
  }
  & a:focus {
    color: var(--primary);
  }
  & span {
    margin-left: 10px;
    text-transform: capitalize;
  }
}
.page {
  color: var(--white);
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 66px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 0px;
  margin-top: 0px;
  outline: none;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0px, 40px, 0px);
    visibility: hidden;
  }

  100% {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

/* PC: */
@media (min-width: 1200px) {
  .slide-area {
    height: 100vh;
  }
  .single-blog-image {
    height: 0 !important;
  }
}
