.play-video-btn {
  position: relative;
  // bottom: -60px;
  // right: 10px;
  line-height: 28.8px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 7px;
  cursor: pointer;
  margin: 0 0 0 auto;
  transition: all 0.3s ease 0s;

  animation: pulse ease 2s infinite normal none running;

  &::after {
    content: '';
    position: absolute;
    left: 32px;
    top: 24px;
    border-width: 16px 24px;
    border-style: solid;
    border-color: transparent transparent transparent #f15d30;
  }
}
@keyframes pulse {
  0% {
    box-shadow: rgba(241, 93, 48, 0.4) 0 0 0 0;
  }
  70% {
    box-shadow: rgba(241, 93, 48, 0) 0 0 0 30px;
  }
  100% {
    box-shadow: rgba(241, 93, 48, 0) 0 0 0 0;
  }
}
/* Mobile:  ip 6+,7+,8+*/
@media (min-width: 414px) and(max-width: 736px) {
}

/* Mobile:  ip x,11,12*/
@media (min-width: 375px) and (max-width: 812px) {
}

@media (min-width: 600px) and (max-width: 800px) {
}

/* i-pad mini: */
@media (min-width: 739px) and (max-width: 1023px) {
  .title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 50px;
  }
}

/* PC, i-pad pro: */
@media (min-width: 1200px) {
  .container {
    top: 50%;
    transform: translateY(-50%);
  }
  .sub-title {
    font-size: 3rem;
    line-height: 54px;
  }
  .title {
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 66px;
  }
  .play-video-btn {
    position: relative;
  }
}
